body {
  background:#222211;
  font-family:courier;
  color: #d9d9d9;
  font-size:1em;
}
#wrapper {
  text-align:center;
}
textarea.bf-text {
  width:40%;
  height:200px;
}
.bf-text, .bf-button {
  background:#000000;
  border:#1f1f14;
  border-radius:4px;
  padding:5px;
  font-family:inherit;
  color:#ffffff;
}
.bf-text {
  width:40%;
}
.bf-button {
  border:1px solid #ffffff;
  vertical-align:middle;
}
#run {
  margin:10px 0px;
  width:100px;
  height:60px;
  font-size:1.3em;
}
hr {
  margin:20px 0px;
}
.button-panel {
  margin:20px 0px;
}
#error {
  height:20px;
  margin:20px 0px;
  font-size:1.2em;
  font-weight:bold;
  color:#ff0000;
}
